record(aao, "$(P)EVG:SEQ:$(I):pattern") {
    field(DESC, "Sequencer bank $(I) delay:event pairs")
    field(DTYP, "FEED Register Write")
    field(OUT,  "@name=$(NAME) reg=EVG:SEQ:$(I):pattern")
    field(FTVL, "ULONG")
    field(NELM, "4096")
}
record(longout, "$(P)EVG:SEQ:$(I):HWrise") {
    field(DESC, "Bank $(I) rising edge hw trigger bitmap")
    field(DTYP, "FEED Register Write")
    field(OUT,  "@name=$(NAME) reg=EVG:SEQ:$(I):hw:r")
    field(LOPR, "0")
    field(HOPR, "255")
    field(DRVL, "0")
    field(DRVH, "255")
}
record(longout, "$(P)EVG:SEQ:$(I):HWfall") {
    field(DESC, "Bank $(I) falling edge hw trigger bitmap")
    field(DTYP, "FEED Register Write")
    field(OUT,  "@name=$(NAME) reg=EVG:SEQ:$(I):hw:f")
    field(LOPR, "0")
    field(HOPR, "255")
    field(DRVL, "0")
    field(DRVH, "255")
}
