/.Xil/
/*.cache/
/*.gen/
/*.hw/
/*.runs/
*.ip_user_files/
*.xsa

/Workspace/.analytics
/Workspace/.metadata/
/Workspace/*_platform/
/Workspace/*_system/
/Workspace/*_app/

*.log
*.jou

# generated
EVG.srcs/sources_1/hdl/firmwareBuildDate.v
EVG.srcs/sources_1/hdl/gpio.v
Workspace/EVG/src/JSONrom.h
Workspace/EVG/src/LEEP.json
Workspace/EVG/src/softwareBuildDate.h
