record(mbbo, "$(P)EVR:OUT:$(N):source") {
    field(DESC, "Hardware output $(N) source")
    field(DTYP, "FEED Register Write")
    field(OUT , "@name=$(NAME) reg=EVR:out$(N):source")
    field(ZRVL, "0")
    field(ZRST, "Static 0")
    field(ONVL, "1")
    field(ONST, "Pulse")
    field(TWVL, "2")
    field(TWST, "Latch")
    field(THVL, "3")
    field(THST, "Dbus")
    field(FRVL, "4")
    field(FRST, "External")
    field(FVVL, "7")
    field(FVST, "Static 1")
}
record(ao, "$(P)EVR:OUT:$(N):delay") {
    field(DESC, "Hardware output $(N) pulse delay")
    field(DTYP, "FEED Register Write")
    field(OUT , "@name=$(NAME) reg=EVR:pls$(N):delay")
    field(EGU , "ns")
    field(LINR, "LINEAR")
    field(ESLO, "1")
    field(EOFF, "0")
    field(LOPR, "0")
    field(HOPR, "2000000")
    field(DRVL, "0")
    field(DRVH, "2000000")
}
record(ao, "$(P)EVR:OUT:$(N):width") {
    field(DESC, "Hardware output $(N) pulse width")
    field(DTYP, "FEED Register Write")
    field(OUT , "@name=$(NAME) reg=EVR:pls$(N):width")
    field(EGU , "ns")
    field(LINR, "LINEAR")
    field(ESLO, "1")
    field(EOFF, "0")
    field(LOPR, "0")
    field(HOPR, "2000000")
    field(DRVL, "8")
    field(DRVH, "2000000")
}
